/Practica4/nbproject/private/
/Practica4/build/
/Practica4/dist/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
*.class
*.jar
*.war
*.ear
build.xml
manifest.mf
/P5/nbproject/private/
/PaintP5/nbproject/private/
/P6/nbproject/private/
/PaintP6/nbproject/private/
