/Practica4/nbproject/private/
/Practica4/build/
/Practica4/dist/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
*.class
*.jar
*.war
*.ear
build.xml
manifest.mf
/P5/nbproject/private/
/PaintP5/nbproject/private/
/P6/nbproject/private/
/PaintP6/nbproject/private/
/PaintP7/nbproject/private/
/SM.DAV.Biblioteca/nbproject/private/
/PaintP8/nbproject/private/
*.zip
/PaintP9/nbproject/private/
/PaintP10/nbproject/private/
/PaintP11/nbproject/private/
/PaintP12/nbproject/private/
